<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Check </title>

    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <%- include("partials/header") %>

    <div class="titulo">
        <h3>Bem vindo ao AutoCheck</h3>
    </div>

    <div class="descricao">
        <p>Aplicativo destinado ao reconhecimento e consulta de placas de veiculos da Universaide Federal de Rondonia</p>
    </div>

    <div class="botao-home">
        <button><a href="telaFoto.ejs">INICIAR</a></button>
        <button><a href="#">SAIR</a></button>
    </div>
</body>
</html>