<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Check </title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("partials/header") %>

    <div class="titulo">
        <h3>Bem vindo ao AutoCheck</h3>
    </div>

    <div class="descricao">
        <p>Aplicativo destinado ao reconhecimento e consulta de placas de veiculos da Universidade Federal de Rondonia - UNIR</p>
    </div>

    <div class="botao-home">
        <button><a href="telaFoto.ejs">INICIAR</a></button>
        <button><a href="#">SAIR</a></button>
    </div>
</body>
</html>