<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoCheck</title>
</head>
<body>
    <%- include("partials/header") %>

    <div class="botao-cima">
        <button><a href="#">VOLTAR</a></button>
        <button><a href="#">LISTA DE VEICULOS</a></button>
    </div>

    <div class="tirar-foto">
        <button><h1>TIRAR FOTO</h1></button>
        <p>aqui vai a funcionalidade de escaniar a placa</p>
    </div>

    <div class="cadastro">
        <button><a href="#">CADASTRO</a></button>
    </div>

    <div class="deteccao">
        <button><a href="#">DETECÇÃO</a></button>
    </div>

    <div class="numero-placa">
        <p>Aqui vai provavelmente um DOM em js para mostrar a placa na tela</p>
    </div>

    <div class="consulta">
        <button><a href="#">CONSULTAR VEICULO</a></button>
    </div>

</body>
</html>