<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoCheck</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
        <%- include("partials/header") %>

        <div class="botoes-cima">
            <a href="home.ejs" class="btn">VOLTAR</a>
            <a href="#" class="btn">LISTA DE VEICULOS</a>
        </div>

        <div class="tirarFoto">
            <a href="tirarFoto.ejs" class="btn"><h2>TIRAR FOTO</h2></a>
        </div>

        <div class="botao-TL">
            <a href="#" class="btn">CADASTRO</a>
            <a href="#" class="btn">DETECÇÃO</a>
        </div>

        <div class="numero-placa">
            <p>Placa: ...</p>
        </div>

        <div class="botao-TL">
            <a href="#" class="btn">CONSULTAR VEICULO</a>
        </div>
    </div>
</body>
</html>