<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoCheck</title>

    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <%- include("partials/header") %>

    <div class="botoes">
        <button class="btn"><a href="home.ejs">VOLTAR</a></button>
        <button class="btn"><a href="#">LISTA DE VEICULOS</a></button>
    </div>

    <div class="tirar-foto">
        <button class="btn"><h1>TIRAR FOTO</h1></button>
        <p>aqui vai a funcionalidade de escaniar a placa</p>
    </div>

    <div class="botoes">
        <button class="btn"><a href="#">CADASTRO</a></button>
        <button class="btn"><a href="#">DETECÇÃO</a></button>
    </div>

    <div class="numero-placa">
        <p>Aqui vai provavelmente um DOM em js para mostrar a placa na tela</p>
    </div>

    <div class="botoes">
        <button class="btn"><a href="#">CONSULTAR VEICULO</a></button>
    </div>

</body>
</html>