@import url("./partials.css");

/*geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #E8F9FF;
    font-family: "Roboto", serif;
    text-align: center;

    overflow: hidden;

    height: auto; /* Permite que a pagina cresça conforme necessario */
    min-height: 100vh; /* Garante um minimo de altura total */
    overflow-y: auto; /* Ativa rolagem se necessário */
}

/*Home*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 90%;
    margin: auto;

    position: relative;
}

.logo-home {
    width: 100%;
    max-width: 350px;
}

.descricao {
    background-color: #BCCCDC;
    font-size: clamp(16px, 2vw, 20px);
    border-radius: 10px;

    padding: 20px;
    margin: 15px;
}

.botoes-cima {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.tirarFoto {
    margin: 10px;
}

.btn {
    display: inline-block;
    background-color: #3674B5;
    font-family: inherit;
    color: #E8F9FF;
    text-decoration: none;
    text-align: center;

    border-radius: 6px;
    cursor: pointer;
    padding: 15px 40px;
    margin: 15px;
    font-size: clamp(18px, 2vw, 25px);
}

.btn:hover {
    background-color: #3E5879;
}

.botao-TL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.numero-placa {
    font-size: clamp(18px, 2vw, 22px);
    font-weight: bold;
    margin: 20px 0;
}

/*Tela Foto*/


/*Media querys*/
/*HOME*/
@media (max-width: 600px) {
    
    .descricao {
        font-size: 20px;
        border-radius: 10px;
    
        padding: 15px;
        margin: 10px;
    }

    .botao-TL, .botoes-cima {
        margin: 15px;
        padding: 15px;
        align-items: center;
        width: 100%;
    }

    .btn {
        text-align: center;
        padding: 12px;
        margin: 10px;
        font-size: 20px;
        width: 100%;
    }
}

