@import url("./partials.css");

/*geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #E8F9FF;
    font-family: "Roboto", serif;
    text-align: center;

    overflow: hidden;

    height: auto; /* Permite que a pagina cresça conforme necessario */
    min-height: 100vh; /* Garante um minimo de altura total */
    overflow-y: auto; /* Ativa rolagem se necessário */
}

/*Home*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    position: relative;
}

.logo-home {
    width: 450px;
}

.descricao {
    background-color: #BCCCDC;
    font-size: 20px;
    border-radius: 10px;

    padding: 20px;
    margin: 15px;
}

.botoes-cima {
    display: flex;
}



.btn {
    display: inline-block;
    background-color: #3674B5;
    font-family: inherit;
    color: #E8F9FF;
    text-decoration: none;
    text-align: center;

    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 15px 60px;
    margin: 15px;
    font-size: 25px;
}

.btn:hover {
    background-color: #3E5879;
}

/*Tela Foto*/


/*Media querys*/
/*HOME*/
@media (max-width: 600px) {
    
    .descricao {
        font-size: 25px;
        border-radius: 10px;
    
        padding: 15px;
        margin: 10px;
    }

    .botao-TL {
        margin: 15px;
        padding: 15px;
        align-items: center;
        width: 100%;
    }

    .btn {
        display: inline-block;
        background-color: #3674B5;
        font-family: inherit;
        color: #E8F9FF;
        text-decoration: none;
        text-align: center;
    
        border: 0;
        border-radius: 6px;
        cursor: pointer;
        padding: 20px 70px;
        margin: 20px;
        font-size: 30px;
    }
}

